@use 'spacing' as s;
@use 'variables' as v;

$_container_height: s.spacing(17);

.container {
  margin: s.spacing(1) s.spacing(2);
  padding: s.spacing(2) 0;

  &-title {
    font-size: 1rem;
    margin: 0 0 s.spacing(2) 0;
  }

  &-window {
    position: relative;
    width: 100%;
    height: $_container_height;
  }

  &-list {
    position: absolute;
    white-space: nowrap;
    height: 100%;
    display: flex;
    transition: left 0.3s;

    &-tile {
      position: relative;
      width: s.spacing(30);
      height: 100%;
      margin: 0 s.spacing(2);

      &:first-child {
        margin-left: 0;
      }

      &.mod-selected {
        box-shadow: 0px 0px 2px 2px #fff;
        transform: scale(110%);
      }
    }
  }
}
