@use 'variables' as v;
@use 'spacing' as s;

.modal {
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;

  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 100%;

  &.mod-show {
    display: flex;
  }

  .modal-window {
    width: 100%;
    height: 100%;

    box-shadow: 1px 1px 80px -20px v.$box-shadow-color;
    border-radius: v.$border-radius;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
}
