@use 'variables' as v;

html,
body {
  padding: 0;
  margin: 0;
  background-color: v.$bg-color;
  color: v.$text-color;
  font-family: Popins, Arial, Helvetica, sans-serif;
  overflow-y: hidden;
  pointer-events: none;
  box-sizing: border-box;
  position: relative;
}

.app {
  position: relative;
}
