$spacing-unit-size: 0.5rem;

$bg-color: #222;
$text-color: #fff;
$text-color-dark: #111;

$border-radius: $spacing-unit-size * 0.5;

$pill-default-color: #fff;
$pill-alt-color: lightblue;

$primary-color: lightblue;
$box-shadow-color: $primary-color;

$default-background-color: #222;
$no-image-background-color: #999;
